/* common */

.nav_inner{
    padding: 0;
}

/* 활동지 */

.search_contain{
    margin: 200px auto 0;
    max-width: 1400px;
}


.range_container {
    --_marker-border-clr: #0EA5E9;
    --_marker-size: 15px;
    --_track-heigt: 3px;
  
    --_tooltip-bg-clr: rgba(0, 0, 0, 0.4);
    --_tooltip-txt-clr: var(--_marker-border-clr);
    padding-bottom: 0;
    width: 100%;
    max-width: 600px;
    display: flex;
    flex-direction: column;
}

.sliders_control {
    position: relative;
    padding-top: 10px;
    margin-bottom: 28px;
}

.slider-tooltip {
    position: absolute;
    width: fit-content;
    font-size: 0.8rem;
    border-radius: 4px;
    text-align: center;
    color: #121;
font-family: Montserrat;
font-size: 12px;
font-weight: 500;
}



input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    pointer-events: all;
    width: var(--_marker-size);
    height: var(--_marker-size);
    background-color: var(--_marker-border-clr);
    border-radius: 50%;
    box-shadow: 0 0 0 1px var(--_marker-border-clr);
    cursor: pointer;
}

#fromSliderTooltip {
    left: 0; /* 슬라이더 바의 왼쪽 끝에 고정 */
    translate: 0 0;
}

#toSliderTooltip {
    right: 0; /* 슬라이더 바의 오른쪽 끝에 고정 */
    translate: 0 0;
}

input[type=range]::-moz-range-thumb {
    -webkit-appearance: none;
    pointer-events: all;
    width: var(--_marker-size);
    height: var(--_marker-size);
    background-color: var(--_marker-border-clr);
    border-radius: 50%;
    box-shadow: 0 0 0 1px var(--_marker-border-clr);
    cursor: pointer;
}

input[type=range]::-webkit-slider-thumb:hover {
    background: #f7f7f7;
}

input[type=range]::-webkit-slider-thumb:active {
    box-shadow: inset 0 0 3px #387bbe, 0 0 9px #387bbe;
    -webkit-box-shadow: inset 0 0 3px #387bbe, 0 0 9px #387bbe;
}

input[type="range"] {
    -webkit-appearance: none;
    appearance: none;
    height: var(--_track-heigt);
    width: 100%;
    position: absolute;
    background-color: var(--_marker-border-clr);
    pointer-events: none;
    bottom: -30px;
}

#fromSlider {
    height: 0;
    z-index: 1;
}

.scale {
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
    position: relative;
    width: calc(100% - var(--_marker-size));
    margin-inline: auto;
    font-size: 0.8rem;
}

.scale div {
    position: absolute;
    translate: -50% 0;
}

.scale div::before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    translate: -50% -125%;
    width: 1px;
    height: 10px;
    background-color:#666;
}

.activity_contain_inner{
    width: 1400px;
    margin: 0 auto;
}

.activity_contain_Wrapper{
    display: flex;


}

.activity_contain_Wrapper aside{
    width: 25%;
}

.activity_contain_Wrapper .activity_list{
    width: 75%;
    margin-left: 50px;
}

.activity_list_inner{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.activity_list_inner li{
    width: 32%;
}

.activity_list_inner li a img{
    width: 100%;
    aspect-ratio: 1/1;
}

.activity_filter {
    margin-top: 60px;
}

aside h4{
    color:  #121;
    font-family: "Montserrat", sans-serif;
font-size: 20px;
font-weight: 600;
}

.activity_filter .filter_title{
    color:  #121;
    font-family: "Montserrat", sans-serif;
font-size: 16px;
font-weight: 600;
margin-bottom: 20px;
}

.filter_contain{
    margin-bottom: 30px;
    padding-bottom: 20px;
    border-bottom: 1px solid #ddd;
}

.filter_contain:last-child{
    border-bottom: none;
}

.filter_contain ul li{
    margin-bottom: 8px;
}

.filter_contain ul li label{
    color:  #121;
font-family: 'Montserrat';
font-size: 14px;
font-weight: 500;
cursor: pointer;
}

.acoodian_inner{
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.filter_dropdown {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 1.5rem;
}


.filter_dropdown .select2-container--default .select2-selection--single{
    border-radius: 8px !important;
}

.activity_list_inner a{
    text-decoration: none;

}

.image_title{
    display: flex;
    align-items: center;
    margin-top: 1rem;
}

.imgage_cateogry{
border: 1px solid var(--main-color);
background: #fff;
color: var(--main-color);
font-size: 15px;
font-weight: 700;
display: flex;
align-items: center;
justify-content: center;
height: 30px;
min-width: 70px;
border-radius: 52px;
font-family: 'Pretendard';
margin-right: 10px;
}

.image_title p{
    color: #181818;
font-family: 'Pretendard';
font-size: 20px;
font-weight: 500;
line-height: 40px; /* 200% */
}

.recommend_slide{
    display: flex;
    width: 85%;
    margin: 0  0 100px auto;
    align-items: center;
}

.recommend_title{
    color: #181818;
font-family: Pretendard;
font-size: 28px;
font-weight: 700;
text-decoration-line: underline;
width: 30%;
}

.swiper-slide img.recommend_image{
    height: 250px;
    object-fit: cover;
}

.recommend_info{
    margin-top: 20px;
}

.recommend_info_title{
    color: #181818;
font-family: Pretendard;
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: normal;
margin-bottom: 6px;
}
.recommend_adress{
    color: #181818;
font-family: Pretendard;
font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: normal;
}

.recommend_price{
    color: #181818;
font-family: Pretendard;
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: normal;
margin-top: 15px;
margin-bottom: 8px;
}

.recommend_body .review_score{
    display: flex;
    align-items: center;
}

.recommend_body .score_wrapp {
    display: flex;
    gap: 2px;
}

.other_slide a{
    text-decoration: none;
}

.recommend_info_head{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.recommend_info_head .recommend_btn{
    display: flex;
    align-items: center;
    gap: 6px;
}

.recommend_info_head .recommend_btn .heart_icon img{
    filter: none;
    width: 24px;
    height: auto;
    object-fit: contain;
    border-radius: 0;
}

/* 아이콘 캘린더 */
.ipt_calendar {
    position: relative;
}
.ipt_calendar > img {
    position: absolute;
    right: 0;
    bottom: 8px;
    cursor: pointer;
}
.ipt_search {
    position: relative;
}
.ipt_search:after {
    content: '';
    position: absolute;
    top: 7px;
    right: 16px;
    width: 27px;
    height: 27px;
    background: url(/image/search_icon.svg);
    background-size: 100%;
}
.ipt_search input {
    width: 100%;
    border: 1px solid #EBEBEA;
    border-radius: 8px;
    padding: 12px 40px 12px 12px;
    box-sizing: border-box;
}
.ipt_box {
    position: relative;
}
.ipt_box > label {
    position: absolute;
    top: 12px;
    left: 20px;
    font-size: 16px;
    color: #8a8a8a;
    z-index: 1;
}
.ipt_box > input {
    width: 100%;
    padding: 30px 20px 15px;
    border: 2px solid #BDBDBC;
    border-radius: 8px;
    font-size: 22px;
    color: #8a8a8a;
    outline: none;
    cursor: pointer;
}
.ipt_box > input:focus {
    color: #000;
    border-color: var(--main-color);
}
/* 호텔 검색영역 */
.hotel-search * {
    font-family: Pretendard;
}
.hotel-search {
    position: relative;
}
.hotel-search .cont > p {
    font-size: 20px;
    margin-bottom: 6px;
    margin-right: 0;
}
.hotel-search .inner {
    display: flex;
    align-items: center;
    padding: 16px 28px 16px 36px;
    border: 1px solid #bebebe;
    border-radius: 50px;
}
.hotel-search .inner .cont {
    border-left: 1px solid #bebebe;
    padding-left: 25px;
    margin-left: 17px;
}
.hotel-search .inner .cont:first-child {
    margin: 0;
    padding: 0;
    border: 0;
}
.hotel-search .inner .cont input {
    border: none;
    font-size: 16px;
    font-weight: 400;
    color: #5e5e5e;
    outline: none;
    cursor: pointer;
}
.hotel-search .cont_detail {
    position: absolute;
    top: 90px;
    left: 8px;
    z-index: 1;
    width: 795px;
    padding: 24px 35px 37px 24px;
    border: 1px solid #d9d9d9;
    border-radius: 8px;
    background: #fff;
}
.hotel-search .cont_detail .clear::after {
    content: '';
    display: block;
    clear: both;
}
.hotel-search .cont_detail .col_5 {
    float: left;
    width: calc(50% - 45px);
}
.hotel-search .cont_detail .col_5:first-child {
    margin-right: 90px;
}
.hotel-search .cont_detail .cont .tit {
    position: relative;
    margin-bottom: 20px;
    font-size: 16px;
    font-family: Montserrat;
}
.hotel-search .cont_detail .cont .tit .tooltip {
    position: absolute;
    top: 0;
    right: 0;
}
.hotel-search .cont_detail .cont + .cont {
    margin-top: 35px;
}
.hotel-search .cont_detail .check_list label {
    color: #112211;
    font-family: Montserrat;
}
.hotel-search .cont_detail input[type=checkbox] {
    border-width: 2px;
    border-color: #112211;
}
.hotel-search .cont_detail input[type=checkbox]:checked+label {
    color: var(--main-color);
    font-weight: 400;
}
.hotel-search .cont_detail .btn_box {
    margin-top: 30px;
    text-align: right;
}
.hotel-search .cont_detail .range_container {
    padding-bottom: 0;
    margin-bottom: 0;
}
.hotel-search .btn {
    width: 64px;
    padding: 10px 18px;
    border-radius: 6px;
    color: #fff;
    font-size: 15px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0.3px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
}
.hotel-search .btn.mint {
    background: var(--main-color);
}
.hotel-search .btn.dark {
    background: var(--dark-gray);
}
.guest_list {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.guest_list + .guest_list {
    margin-top: 30px;
}
.guest_list > p {
    font-size: 16px;
    font-weight: normal;
}
.guest_list > p > span {
    display: block;
    margin-top: 5px;
    font-size: 12px;
}

/* 숫자 버튼 */
.count_box {
    display: flex;
    align-items: center;
}
.count_box .num {
    margin: 0 20px;
    font-size: 26px;
    font-weight: 600;
}
button.round_btn {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 34px;
    height: 34px;
    padding: 0;
    border-radius: 100%;
    border: 1px solid var(--main-color);
    background: #fff;
    color: var(--main-color);
    cursor: pointer;
}
button.round_btn.minus::before,
button.round_btn.plus::before {
    content: '';
    display: block;
    width: 14px;
    height: 3px;
    background: var(--main-color);
}
button.round_btn.plus::after {
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 3px;
    height: 14px;
    background: var(--main-color);
}
button.round_btn:hover {
    background: var(--main-color);
}
button.round_btn.minus:hover::before,
button.round_btn.plus:hover::before,
button.round_btn.plus:hover::after {
    background: #fff;
}

/* tooltip */
.tooltip {
    position: relative;
}
.tooltip .tooltip_btn {
    display: block;
    width: 18px;
    height: 19px;
    background: url(/image/sub/tooltip.png) no-repeat;
    cursor: pointer;
}
.tooltip_cont {
    display: none;
    position: absolute;
    top: 25px;
    left: 0;
    z-index: 2;
    min-width: 300px;
    padding: 20px;
    font-size: 14px;
    border: 1px solid #d9d9d9;
    border-radius: 8px;
    background: #fff;
    line-height: 1.35;
}
.tooltip_cont.active {
    display: block;
}
.hotel_contain * {
    font-family: Pretendard;
}
.hotel_contain_inner {
    width: 1400px;
    margin: 0 auto 100px;
}
.hotel_contain_inner .title_area {
    margin-bottom: 35px;
}
.hotel_contain_inner .title_area h3 {
    color: #181818;
    font-size: 28px;
    font-weight: 600;
}
.hotel_contain_Wrapper{
    display: flex;
}
.hotel_contain_Wrapper .hotel_list {
    width: calc(75% - 30px);
}
.hotel_contain_Wrapper .map_area {
    width: 30%;
    margin-left: 30px;  
}
.hotel_list .btn-more {
    margin-top: 50px;
    width: 100%;
    padding: 14px 18px;
    border: none;
    border-radius: 4px;
    color: #fff;
    font-family: Montserrat;
    font-size: 15px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0.3px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    background-color: var(--main-color);
}
.hotel_list_inner{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
.hotel_list_inner li {
    width: calc(100% / 3 - 20px);
}
.hotel_list_inner li a {
    display: block;
    text-decoration: none;
    color: #181818;
}

.hotel_thum {
    position: relative;
}
.hotel_thum img{
    display: block;
    width: 100%;
    aspect-ratio: 1/1;
}
.hotel_thum .recommend_btn {
    position: absolute;
    right: 15px;
    bottom: 15px;
    display: flex;
    align-items: center;
    gap: 5px;
}
.hotel_thum .recommend_btn .heart_icon {
    width: 16px;
    height: 14px;
}
.hotel_thum .recommend_btn .heart_icon img {
    filter: none;
}
.hotel_thum .recommend_btn .txt {
    color: #fff;
    font-size: 20px;
    font-weight: 600;
}
.hotel_info {
    margin-top: 12px;
}
.hotel_info .title,
.hotel_info .price {
    font-size: 20px;
    font-weight: 600;
}
.hotel_info .title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}
.hotel_info .title span {
    position: relative;
    padding-left: 28px;
    font-size: 15px;
    font-weight: 400;
}
.hotel_info .title span:before {
    content: '';
    position: absolute;
    top: -2px;
    left: 0;
    width: 17px;
    height: 17px;
    background: url(/image/sub/review.png) no-repeat;
    background-size: 100% 100%;
}
.hotel_info .price {
    text-align: right;
}

/* 평점 */
.grade_box {
    display: flex;
    align-items: center;
    gap: 8px;
}
.grade_box > p {
    font-size: 16px;
    font-weight: 500;
}
.grade {
    display: flex;
    gap: 2px;
}
.grade .star {
    display: block;
    width: 17px;
    height: 17px;
    background: url(/image/sub/review.png) no-repeat;
    background-size: 100% 100%;
}
.service_area {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
}
.service_tit {
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: 600;
}
.service_list {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 20px;
}
.service_list img {
    display: block;
    width: 80px;
    margin: 0 auto;
}
.service_list p {
    margin-top: 10px;
    font-size: 20px;
    font-weight: 600;
    color: var(--main-color);
    text-align: center;
}
.room_area .title {
    font-size: 25px;
    font-weight: 600;
}
.room_box {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 24px 16px 24px 16px;
    border-radius: 12px;
    box-shadow: 0px 4px 16px 0px #1122110D;
    box-sizing: border-box;
}
.room_box + .room_box {
    margin-top: 18px;
}
.room_thum {
    position: relative;
    width: 41.75%;
    margin-right: 30px;
}
.room_thum > img {
    width: 100%;
}
.room_thum .recommend_btn {
    position: absolute;
    right: 18px;
    bottom: 18px;
}
.room_thum .heart_icon {
    height: 22px;
}
.room_thum .heart_icon img {
    filter: none;
}
.room_cont {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: calc( (100% - 41.75%) - 30px);
    padding: 0 24px;
}
.room_cont .tit {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 25px;
    font-weight: 600;
}
.room_cont .tit .per_num {
    font-size: 12px;
}
.room_cont .bed_num {
    position: relative;
    margin-top: 8px;
    padding-left: 30px;
    font-size: 12px;
}
.room_cont .bed_num::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 18px;
    height: 13px;
    background: url(/image/sub/bed_bk.png) no-repeat;
    background-size: 100% 100%;
}
.basic_info {
    margin-top: 15px;
    display: flex;
    align-items: center;
    gap: 12px;
}
.basic_info li {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 20px;
    font-weight: 500;
}
.basic_info.sm {
    display: inherit;
}
.basic_info.sm li {
    font-size: 14px;
    font-weight: 300;
}
.basic_info.sm li + li {
    margin-top: 10px;
}
.room_bottom {
    border-top: 1px solid rgba(17, 34, 17, .25);
}
.room_bottom .cancel {
    margin-top: 16px;
    font-size: 14px;
    font-weight: 300;
    text-align: right;
}
.room_bottom .cancel > strong {
    font-weight: 500;
}
.room_bottom .price_box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 16px;
}
.room_bottom .price {
    font-size: 12px;
}
.room_bottom .price > strong {
    font-size: 26px;
    font-weight: 700;
}
.room_bottom .btn_add {
    min-width: 150px;
    padding: 8px 16px;
    border: none;
    border-radius: 10px;
    color: #fff;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 600;
    line-height: 17px;
    letter-spacing: 0.3px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    background-color: var(--main-color);
}

.modal_hotel * {
    font-family: Pretendard;
    color: #181818;
    box-sizing: border-box;
}
.modal_hotel .modal-content {
    width: 1045px;
    height: 700px;
    padding: 50px 40px;
    overflow-y: auto;
    border-radius: 12px;
}
.modal_hotel .close {
    display: block;
}
.modal_hotel .room_area {
    margin: 50px 0 60px;
}
.m_hotel_title {
    margin-bottom: 10px;
    color:  #1C2B38;
    font-size: 40px;
    font-weight: 500;
    word-break: keep-all;
    line-height: 1.2;
}
.m_hotel_info {
    display: flex;
    align-items: center;
    gap: 30px;
}
.m_hotel_info .inner {
    display: flex;
    align-items: center;
}
.m_hotel_info .inner p {
    color: #5c5c5c;
    font-size: 22px;
    font-weight: 300;
    line-height: 1.2
}
.m_hotel_info .inner img {
    width: 20px;
    margin-right: 10px;
}
.m_hotel_top .grade_box {
    margin-top: 10px;
}
.modal_hotel .hotel_img_area,
.modal_hotel .hotel_img_area .sm_img_box  {
    gap: 15px;
}
.modal_hotel .hotel_img_area .sm_img_box .img_box {
    width: calc(50% - 7.5px);
}
.modal_hotel .hotel_img_area .img_box > p {
    bottom: 18px;
    top: auto;
    font-size: 18px;
}
.hotel_img_area {
    margin: 40px 0;
    width: 100%;
    display: flex;
    gap: 40px;
}
.hotel_img_area .title {
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 35px;
}
.hotel_img_area .l_box, 
.hotel_img_area .r_box {
    width: 50%;
}
.hotel_img_area .sm_img_box {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
}
.hotel_img_area .img_box {
    border-radius: 8px;
    overflow: hidden;
}
.hotel_img_area .img_box img {
    display: block;
    width: 100%;
    height: 100%;
    aspect-ratio: 1 / 1;
}
.hotel_img_area .r_box .img_box {
    position: relative;
    width: calc(50% - 20px);
}
.hotel_img_area .img_box > p {
    position: absolute;
    left: 18px;
    top: 20px;
    font-size: 28px;
    color: #fff;
}
.m_hotel_btm {
    position: absolute;
    margin-left: -40px;
    width: 100%;
    background: #EBEBEA;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 25px 30px;
}
.m_hotel_btm .price {
    font-size: 22px;
    font-weight: 400;
}
.m_hotel_btm .price > strong {
    font-size: 30px;
    font-weight: 600;
}
.m_hotel_btm .btn {
    margin-left: 35px;
    padding: 11px 40px;
    border: none;
    border-radius: 50px;
    color: #fff;
    font-family: Montserrat;
    font-size: 20px;
    font-weight: 600;
    line-height: 17px;
    letter-spacing: 0.3px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    background-color: #2f2f2f;
}
/* 서브페이지 공통 */
.subPage_wrap * {
    font-family: Pretendard;
    color: #181818;
    box-sizing: border-box;
}
.subPage_wrap {
    width: 1400px;
    margin: 110px auto 100px;
    padding-top: 50px;
}
.subPage_wrap .btn {
    padding: 10px 18px;
    border: none;
    border-radius: 6px;
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0.3px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
}
.subPage_wrap .btn.mint {
    background: var(--main-color);
}
.subPage_wrap .btn.white {
    background: #fff;
    border: 1px solid var(--main-color);
    color: var(--main-color);
}
.subPage_wrap .btn.gray {
    background: #bdbdbc;
}
.subPage_wrap .btn.blue {
    background: #0D6EFD;
}

.info_box {
    border: 1px solid #bebebe;
    border-radius: 8px;
}
.info_detail {
    padding: 40px 35px 100px;
    border-top: 1px solid #bebebe;
}
.info_detail .item {
    display: flex;
    align-items: center;
}
.info_detail .item + .item {
    margin-top: 15px;
}
.info_detail .item img {
    width: 20px;
    margin-right: 12px;
}
.info_detail .item p {
    font-size: 22px;
    font-weight: 300;
    line-height: 1.2;
    color: #6F6F6F;
}
.info_detail .item span {
    color: var(--dark-gray);
}
.info_detail .item strong {
    font-weight: 600;
}
.info_detail .service_area {
    margin-top: 40px;
    column-gap: 190px;
}
.info_detail .info_txt {
    font-size: 20px;
    line-height: 1.5;
    word-break: keep-all;
}
.info_detail.type2 {
    padding: 20px 35px;
}
.info_box .txt_box {
    padding: 25px 35px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.info_box .txt_box h3 {
    font-size: 30px;
    font-weight: 700;
}
.info_box .txt_box .grade_box {
    margin-top: 12px;
}
.info_box .txt_box .grade_box .country {
    font-size: 25px;
    font-weight: 600;
    color: var(--dark-gray);
}
.info_box .txt_box .grade_box p {
    font-size: 20px;
}
.info_box .txt_box .sub_txt {
    margin-top: 12px;
    font-size: 22px;
    font-weight: 300;
    color: var(--dark-gray);
}
.room_list_wrap {
    display: flex;
    margin: 50px auto 100px;
}
.room_list_wrap .content_tap {
    width: 70%;
}
.room_list_wrap .tab-content {
	display: none;
    padding: 40px 20px;
    width: 100%;
    box-sizing: border-box;
}

.room_list_wrap .tab-content.current {
	display: inherit;
    margin-top: 0;
}
.room_list_wrap ul.tabs {
    width: 100%;
    justify-content: flex-start;
}
.room_list_wrap ul.tabs li {
    color: #BDBDBC;
    font-size: 25px;
    font-weight: 600;
    /* width: 33%; */
    padding: 20px 80px;
    border-bottom: 8px solid #D9D9D9;
    cursor: pointer;
}
.room_list_wrap ul.tabs li.current{
    color: var(--main-color);
    font-weight: 700;
    border-bottom: 8px solid var(--main-color);
}
.room_detail {
    width: 30%;
    margin-left: 0px;
    position: relative;
    padding-left: 30px;
    padding-bottom: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.room_detail .total_box {
    margin-top: 50px;
}
.room_detail .total_box .btn_box {
    margin-top: 15px;
}
.room_detail .total_box .btn {
    width: 100%;
    height: 80px;
    font-size: 34px;
}
.room_detail .total_box .total_price {
    position: relative;
    width: 100%;
    padding: 42px 25px 20px;
    background: var(--main-color);
    border-radius: 8px;
    text-align: right;
}
.room_detail .total_box .total_price span {
    display: block;
    position: absolute;
    top: 10px;
    left: 20px;
    font-size: 28px;
    color: #fff;
}
.room_detail .total_box .total_price strong {
    font-size: 35px;
    font-weight: 600;
    color: #fff;
}
.room_detail_card {
    position: relative;
    padding: 25px 25px 35px;
    background: #fff;
    box-shadow: 2px 5px 6px 0px #00000040;
    border-radius: 12px;
}
.room_detail_card + .room_detail_card  {
    margin-top: 25px;
}
.room_detail_card .close {
    display: block;
    position: absolute;
    top: 15px;
    right: 25px;
}
.room_detail_card .add_box {
    margin-top: 25px;
}
.room_detail_card .price_box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 75px;
    font-size: 30px;
    font-weight: 500;
}
.room_detail_card .total_price {
    margin-top: 40px;
}
.room_detail_card .total_price .price_box {
    margin-top: 0;
    font-size: 24px;
}
.room_detail_card .total_price .add_price {
    margin-top: 10px;
}
.room_detail_card .total_price .add_price > span,
.room_detail_card .total_price .add_price > strong {
    font-size: 20px;
    color: #bdbdbc;
}
.room_detail_card .total_price .total {
    margin-top: 25px;
    padding-top: 10px;
    border-top: 1px solid #bdbdbc;
    font-size: 26px;
}
.card_tit {
    font-weight: 500;
}
.card_tit span {
    font-size: 24;
    color: var(--main-color);
}
.card_tit p {
    margin-top: 15px;
    font-size: 32px;
}
.ipt_area {
    position: relative;
    margin-top: 20px;
}
.ipt_area.col2 {
    display: flex;
    gap: 5px;
}
.ipt_detail {
    display: none;
    position: absolute;
    z-index: 2;
    width: 100%;
    padding: 20px 20px 30px;
    top: 90px;
    left: 0;
    background: #fff;
    border: 1px solid #d9d9d9;
    border-radius: 8px;
}
.ipt_detail .guest_list > p {
    font-size: 26px;
    font-weight: 500;
}
.ipt_detail .guest_list > p span {
    margin-top: 10px;
    font-size: 16px;
    font-weight: 500;
}
.ipt_detail .guest_list + .guest_list {
    margin-top: 20px;
}
.ipt_detail .btn_box {
    margin-top: 20px;
    text-align: right;
}
/* 호텔 등록 */
.reg_wrap .tabs {
    margin: 0 auto;
}
.reg_wrap .tab-content {
    width: 100%;
}
.reg_wrap .btm_btn_box {
    margin-top: 50px;
    text-align: right;
}
.reg_wrap .btm_btn_box .btn {
    font-size: 18px;
    padding: 18px;
    min-width: 160px;
}
.reg_wrap .input_sign .col2 {
    display: flex;
    column-gap: 10px;
    width: 100%;
}
.reg_wrap .input_sign .col2 + input,
.reg_wrap .input_sign input + input {
    margin-top: 20px;
}
.reg_wrap .input_sign .col2 .btn {
    width: 30%;
}
.reg_wrap .reg_tit_box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 50px;
}
.reg_wrap .progress_box {
    width: 230px;
}
.reg_wrap .progress_box .percent {
    margin-top: 10px;
    font-size: 12px;
    font-weight: 400;
    color: #000;
    text-align: right;
}
.reg_wrap .progress {
    width: 100%;
    height: 23px;
    border-radius: 50px;
    background: #f6f6f6;
}
.reg_wrap .progress .bar {
    height: 23px;
    border-radius: 50px;
    background: var(--main-color);
}
.reg_wrap .num_title {
    font-size: 20px;
    font-weight: 600;
    color: var(--dark-gray);
}
.reg_wrap .num_title > span {
    display: inline-block;
    width: 30px;
    height: 30px;
    margin-right: 10px;
    line-height: 30px;
    text-align: center;
    font-size: 14px;
    font-weight: 600;
    border-radius: 100%;
    background: #429EFF;
    color: #fff;
}
.reg_wrap .completion_box {
    font-size: 30px;
    font-weight: 500;
    text-align: center;
    line-height: 1.35;
}
.reg_wrap .completion_box .icon {
    position: relative;
    display: block;
    margin: 0 auto 35px;
    width: 54px;
    height: 54px;
    background: var(--main-color);
    border-radius: 100%;
}
.reg_wrap .completion_box .icon::after {
    content: '';
    position: absolute;
    right: 50%;
    top: 50%;
    width: 10px;
    height: 22px;
    border: solid #FFF;
    border-width: 0 2px 2px 0;
    margin: -1px -1px 0 -1px;
    transform: rotate(45deg) translate(-50%, -50%);
    z-index: 2;
}
.reg_step_1 {
    width: 500px;
    margin: 0 auto;
}
.reg_step_1 .txt_box {
    margin-bottom: 55px;
}
.reg_step_1 .txt_box h3 {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 10px;
}
.reg_step_1 .txt_box p {
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
}
.reg_step_1 .btn.gray {
    border-radius: 12px;
    height: 50px;
    width: 100%;
}
.reg_step_1 .btn_box {
    margin-top: 70px;
}
.reg_step_2 {
    width: 1100px;
    margin: 0 auto;
    padding: 45px 50px;
    box-shadow: 0px 5px 11.6px 0px #7A7A7A40;
    border-radius: 14px;
}
.reg_step_2 .select2-container {
    width: 190px !important;
}
.reg_step_2 .select2-container--default .select2-selection--single {
    border-radius: 8px !important;
    height: 37px !important;
}
.reg_step_2 .time_select {
    display: flex;
    align-items: center;
    gap: 50px;
    margin-top: 20px;
}
.reg_step_2 .time_select .txt {
    min-width: 150px;
    font-size: 22px;
    font-weight: 500;
    color: var(--dark-gray);
}
.reg_step_2 .input_sign {
    margin-bottom: 35px;
}
.reg_step_2 .input_sign > label {
    margin-bottom: 20px;
}
.reg_step_2 .default {
    width: 730px;
    padding-left: 40px;
}
.reg_step_2 .location {
    width: 700px;
    padding-left: 40px;
}
.reg_step_2 .location .input_sign label {
    font-size: 18px;
    font-weight: 600;
    color: #000;
}
.reg_step_2 .double_col {
    display: flex;
    gap: 15px;
}
.reg_step_2 .double_col .input_sign {
    width: 100%;
}
.reg_step_2 .service_tit {
    margin-bottom: 30px;
}
.reg_step_2 .chk_content {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}
.reg_step_3 .btn_box {
    margin-top: 90px;
    text-align: center;
}
.reg_step_3 .btn_box .btn {
    font-size: 15px;
}
.reg_img_wrap {
    width: 735px;
}
.reg_img_wrap .item + .item {
    margin-top: 100px;
}
.reg_img_wrap .item .tit {
    margin-bottom: 35px;
    font-size: 28px;
    font-weight: 700;
}
.reg_img_wrap .cont {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 40px;
    width: 100%;
}
.reg_img_wrap .reg_img {
    position: relative;
    width: calc(50% - 20px);
    height: 300px;
    border: 1px dashed #BDBDBC;
    border-radius: 8px;
    overflow: hidden;
    background: #fff;
    cursor: pointer;
}
.reg_img_wrap .reg_img:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 24px;
    height: 24px;
    background: url(/image/sub/plus.png) no-repeat;
}
.reg_img_wrap .reg_img:hover {
    background: #efefef;
    border-color: #efefef;
}
.reg_img_wrap .reg_img p {
    position: absolute;
    top: 22px;
    left: 25px;
    font-size: 28px;
    font-weight: 500;
    color: var(--dark-gray);
}
.reg_img_wrap .reg_img img {
    display: block;
    width: 100%;
    height: 100%;
    aspect-ratio: 1 / 1;
}
.reg_img_wrap .require_img {
    border: none;
}
.reg_img_wrap .require_img:before {
    top: 55%;
    background: url(/image/sub/upload.png);
}
.reg_img_wrap .require_img p {
    width: 100%;
    left: 0;
    top: 40%;
    text-align: center;
    font-family: Montserrat;
    color: #BDBDBC;
}
.reg_img_wrap .reg_img.done {
    border-color: transparent;
}
.reg_img_wrap .reg_img.done:before {
    display: none;
}
.reg_img_wrap .reg_img.done p {
    color: #fff;
}
.reg_img_wrap .reg_img.done:hover {
    background-color: transparent;
}
.reg_img_wrap .require_img.done p {
    display: none;
}
.reg_box {
    width: 1150px;
    margin: 0 auto;
    padding: 45px 50px;
    box-shadow: 0px 5px 11.6px 0px #7A7A7A40;
    border-radius: 14px;
}
.box_radio {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 100%;
    gap: 10px;
}
.box_radio .item {
    position: relative;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
}
.box_radio label {
    display: block;
    padding: 20px;
    background: #EAF1F1;
    border-radius: 12px;
    font-size: 20px;
    text-align: center;
    color: #2F2F28;
    cursor: pointer;
}
.box_radio input[type=radio] {
    position: absolute;
    top: 0;
    left: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
}
.box_radio input[type=radio]:checked + label {
    background: var(--main-color);
    color: #fff;
}
.box_chk {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 100%;
    gap: 10px;
}
.box_chk .item {
    position: relative;
    -webkit-box-flex: 0;
    -ms-flex-positive: 0;
    flex-grow: 0;
}
.box_chk label {
    min-width: 250px;
    display: block;
    position: relative;
    margin-bottom: 0;
    padding: 15px 30px 15px 15px;
    background: #fff;
    border: 1px solid var(--main-gray);
    border-radius: 12px;
    color: #000;
    cursor: pointer;
    aspect-ratio: 1 / 0.52;
}
.box_chk label strong {
    display: block;
    margin-bottom: 20px;
    font-size: 16px;
    font-weight: 500;
}
.box_chk label span {
    font-size: 11px;
    font-weight: 400;
    line-height: 1.2;
}
.box_chk input[type=checkbox] {
    position: absolute;
    top: 15px;
    right: 26px;
    border-radius: 100%;
    margin-right: 0;
    z-index: 1;
}
.box_chk input[type=checkbox]:before {
    border-color: var(--main-gray);
}
.box_chk input[type=checkbox]:checked + label {
    border-color: var(--main-color);
}
.box_chk input[type=checkbox]:checked:before {
    border-color: #fff;
}
.round_chk .item + .item {
    margin-top: 20px;
}
.round_chk label {
    cursor: pointer;
}
.round_chk label strong {
    font-size: 14px;
    font-weight: 600;
}
.round_chk label span {
    display: block;
    margin-top: 8px;
    margin-left: 32px;
    font-size: 12px;
    font-weight: 400;
}
.round_chk input[type=checkbox] {
    border-radius: 100%;
}
.round_chk input[type=checkbox]:before {
    border-color: var(--main-gray);
}
.round_chk input[type=checkbox]:checked:before {
    border-color: #fff;
} 
.restaurants_menu {
    padding: 40px 0 !important;
    width: 100% !important;
}
.restaurants_slide {
    width: 100%;
}
.restaurants_slide .swiper-pagination {
    position: relative;
    margin-top: 10px;
    top: auto !important;
    bottom: auto !important;
}
.restaurants_slide .swiper-pagination-bullet {
    width: 10px;
    height: 10px;
    background: #d9d9d9;
    opacity: 1;
}
.restaurants_slide .swiper-pagination-bullet-active {
    background: var(--main-color);
}
.restaurants_slide .swiper-slide img {
    display: block;
    aspect-ratio: 1 / 1;
}
.restaurants_slide_item {
    position: relative;
}
.restaurants_slide_item .tit {
    position: absolute;
    left: 0;
    bottom: 18px;
    width: 100%;
    color: #fff;
    padding: 0 18px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    font-size: 18px;
}
.restaurants_slide_item .tit > span {
    font-size: 16px;
    color: #fff;
}
.recommend_box {
    font-family: 'Pretendard';
    background: #F5F5F5;
    width: 100%;
    text-align: center;
    padding: 70px 0;
}
.recommend_box p {
    margin-bottom: 30px;
    font-size: 28px;
    font-weight: 700;
    color: #181818;
}
.recommend_box .btn {
    padding: 13px 45px;
    border: none;
    border-radius: 16px;
    background: var(--main-color);
    color: #fff;
    font-size: 28px;
    font-weight: 700;
    line-height: 34px;
    letter-spacing: 0.3px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
}
.write_wrap .write_btn {
    margin-bottom: 50px;
    text-align: right;
}
.write_wrap .write_btn .btn {
    margin-left: 12px;
    font-size: 16px;
}
.write_wrap .reg_img_wrap {
    margin-bottom: 70px;
    width: 100%;
    display: flex;
    gap: 30px;
}
.write_wrap .reg_img_wrap .item {
    margin-top: 0 !important;
    width: 100%;
}
.write_wrap .reg_img_wrap .reg_img {
    width: 100%;
    height: 428px;
    flex: 1 1 40%
}
.write_wrap .reg_img_wrap .cont {
    gap: 30px;
}
.write_wrap .reg_img_wrap .item {
	flex: 2 1 0;
}
.write_wrap .reg_img_wrap .item:nth-child(2) {
	flex: 1 1 0;
}
.write_wrap .reg_img_wrap .item:nth-child(2) .cont {
    gap: 25px;
}
.write_wrap .reg_img_wrap .item:nth-child(2) .reg_img {
    height: 202px;
}
.write_wrap .restaurants_menu .reg_img_wrap {
    flex-wrap: wrap;
}
.write_wrap .restaurants_menu .reg_img_wrap .box {
    flex: 0 1 31%;
}
.write_wrap .restaurants_menu .reg_img_wrap .box .reg_img {
    height: auto;
    aspect-ratio: 1 / 1;
}
.write_wrap .restaurants_menu .reg_img_wrap .box .input_sign {
    margin-bottom: 0;
    margin-top: 10px;
}
.write_wrap .restaurants_menu .reg_img_wrap .box .input_sign label {
    min-width: 60px;
    margin: 0;
}
.write_wrap .content_location .input_sign {
    margin: 0;
    width: 355px;
}
.write_wrap .info_box {
    padding: 35px;
}
.write_wrap .info_box .filter_dropdown {
    display: inline-block;
    margin: 0;
    min-width: 190px;
}
.write_wrap .info_box .category {
    display: flex;
    gap: 15px;
}
.write_wrap .info_box .item {
    margin-top: 25px;
}
.write_wrap .info_box .item:first-child {
    margin-top: 0;
}
.write_wrap .info_box .item_tit {
    display: flex;
    gap: 30px;
    margin-bottom: 10px;
}
.write_wrap .info_box .item_tit > p {
    font-size: 20px;
    font-weight: 500;
}
.write_wrap .info_box .input_sign {
    width: 100%;
    margin-bottom: 0;
}
.write_wrap .select2-container .select2-selection--single {
    height: 50px !important;
}
.write_wrap .select2-container {
    width: 100% !important;
}
.write_wrap .service_area {
    flex-direction: column;
}
.write_wrap .service_area .chk_content {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}
.write_wrap .service_tit {
    font-size: 26px;
}
.write_wrap .row_box {
    display: flex;
    gap: 20px;
    align-items: center;
    width: 100%;
    margin-top: 20px;
}
.write_wrap .row_box .sub_tit,
.write_wrap .row_box .que_tit {
    margin: 0;
}
.write_wrap .filter_dropdown {
    width: 190px;
    margin-bottom: 0;
}

.write_wrap .reg_box li.tab-link {
    flex-direction: inherit;
    gap: 15px;
}
.write_wrap .reg_box .tabs {
    margin: 0;
    justify-content: flex-start;
    gap: 60px;
}
.write_wrap .reg_box li.tab-link p {
    margin-top: 0;
}
.write_wrap .que_tit {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 30px 0 15px;
    font-size: 24px;
    font-weight: 500;
}
.write_wrap .que_tit + .row_box {
    margin-top: 0;
}
.write_wrap .ipt_calendar input {
    width: 100%;
    height: 50px;
    border-radius: 12px;
    border: 1px solid rgba(102, 102, 102, 0.35);
    padding: 12px;
    box-sizing: border-box;
    outline: none;
    cursor: pointer;
}
.write_wrap .ipt_calendar > img {
    right: 12px;
}
.time_edit {
    padding: 40px 0 !important;
    width: 100% !important;
}
.time_edit .sub_tit {
    margin: 40px 0 20px;
    font-size: 20px;
    font-weight: 500;
}
.time_edit .box_radio {
    margin-bottom: 40px;
}
.time_edit .day_chk {
    display: flex;
    gap: 20px;
}
.time_edit .cont {
    margin-bottom: 50px;
    padding-bottom: 50px;
    border-bottom: 1px solid #BDBDBC;
}
.time_edit .day_add {
    width: 100%;
    text-align: center;
}
.time_edit .day_add .icon_btn {
    font-size: 20px;
    font-weight: 500;
    color: var(--main-color);
    border: none;
    background: none;
    cursor: pointer;
}
.time_edit .day_add .icon_btn:before {
    content: '';
    display: inline-block;
    width: 24px;
    height: 24px;
    margin-right: 5px;
    background: url(/image/sub/plus_mint.png) no-repeat;
    vertical-align: bottom;
}
.filter_rating .rating {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
.filter_rating .rating .grade_box {
    cursor: pointer;
}
.filter_rating .rating .grade_box p {
    font-size: 12px;
}
.itinerary_search {
    margin-top: 107px;
    position: relative;
    width: 100%;
    height: 560px;
}
.itinerary_search.before {
    height: 880px;
}
.itinerary_search * {
    font-family: Pretendard;
    color: #181818;
    box-sizing: border-box;
}
.itinerary_search img {
    display: block;
    width: 100%;
    height: 100%;
}
.itinerary_search .search_contain {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    width: 740px;
}
.itinerary_search .search_contain p {
    margin-bottom: 70px;
    font-size: 36px;
    font-weight: 600;
    color: #fff;
    text-align: center;
}
.itinerary_search .main-search_box {
    width: 100%;
    display: block;
    margin: 0;
}
.itinerary_search .search_inner input {
    width: 100%;
}
.iti_cont {
    margin-top: 40px;
    padding-top: 40px;
    border-top: 1px solid #BDBDBC;
}
.iti_cont:first-child {
    margin-top: 0;
    padding-top: 0;
    border-top: 0;
}
.iti_cont .que_tit:first-child {
    margin-top: 0;
}